.home-section {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .home-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: -1;
  }

  .home-info-wrapper {
    position: relative;
    padding: 20px;
    margin-top: 50vh;
    background-color: var(--main-bg-color);

  }
}