.home-section {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .home-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .home-info-wrapper {
    padding: 40px 0;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;

    .home-info {
      grid-column: 2/4;
      grid-row: 1;
      line-height: 1.5;

      p {
        font-size: calc(1.5rem + 1vw);
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.home-contact-wrapper {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 50px;
  justify-items: center;
}

.contact-wrapper-one,
.contact-wrapper-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-div-one,
.contact-div-two {
  display: flex;
  flex-direction: column;
}

.contact-wrapper-one > div > h3,
.contact-wrapper-two > div > h3 {
  font-size: calc(0.8rem + 1vw);
  padding-bottom: min(10px, 1vw);
}

.contact-wrapper-one > div > p,
.contact-wrapper-two > div > p {
  font-size: calc(0.5rem + 1vw);
}

@media (max-width: 767px) {
  .home-contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact-wrapper-one,
  .contact-wrapper-two {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}
